/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* --------------
common styles
----------------- */
body{
    background-color: #E5E5E5;
    font-family: 'Poppins', sans-serif;

}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.conteiner{
   background-color:  white;
    width: 870px;
    padding: 30px;
    border: 5px;
    margin-bottom: 20px;
}
h3, p{
    margin: 0;
    font-size: 14px;
}
hr{
    border: 1px solid #D1D1D1;
}
a{
    text-decoration: none;
    color: #562EFF;
}
/* ----------------
top players
------------------- */
.section-title{
    color: #562EFF;
    font-size: 24px;
    line-height: 36px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 28px;
    margin-bottom: 22px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}
/* --------------
    blogs
----------------- */
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 16px;
}
.blog{
    display: flex;
    padding-right: 20px;
}
.thumbnail img{
    width: 177px;
    height: 117px;
    margin-right: 16px;
}
.blog-author{
    color: #9F9F9F;
}
/* --------------
    latest courses
----------------- */
.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}
.course-banner img{
    width: 224px;
    height: 104px;
}